$main-color: rgb(109, 177, 76);
$light-green: rgba(101, 170, 130, .4);
$dark-green: rgba(101, 170, 130, .8);
$gold: rgb(194, 151, 85);
$bg-green: rgb(249, 249, 242);
$border-green: rgb(167, 234, 191);
$font-brown: rgb(91, 85, 83);


