@import 'variable';

.test-text {
  color: $main-color;
}

.pointer {
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.carousel-control-prev-icon {
  background-image: url('/static/icon/icon-09@4x.png');
}

.swiper-button-prev {
  background-image: url('/static//icon//icon-09@4x.png');
  background-size: 41px 110px;
  left: 5%;
  width: 41px;
  @media screen and (min-width: 1200px) {
    height: 110px;
  }

  &:focus {
    outline: none;
  }
}

.swiper-button-next {
  background-image: url('/static//icon//icon-10@4x.png');
  background-size: 41px 110px;
  @media screen and (min-width: 1200px) {
    height: 110px;
  }
  right: 5%;
  width: 41px;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

}

